*{
  margin: 0;  
  font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
/* header and navigations styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
        display: flex;
        align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header{
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section style */

.about{
    margin-top: 130px;
    background-color:#FFF8F3 ;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    margin-top: 40px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;

}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* what i do styles */
.what-i-do{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.what-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 60px;
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
}    

/* Resume Styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-size: 25px;
    font-weight: 700;
    color:#474747 ;
    margin-bottom: 10px;
}
.resume .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description{
    color:#757575;
}
.resume-title{
    font-size: 30px;
}
.description{
    padding-right: 110px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}